body {
    font-family: 'Neucha', cursive;
    /* font-family: 'Ubuntu', sans-serif; */
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    background-image: url('http://365psd.ru/images/backgrounds/bg-lightl-879.jpg');
}

h1 {
    font-family: 'Kaushan Script', cursive;
    color: #135370;
    font-size: 3.5rem;
    margin: 30px auto 0 auto;
}

h2 {
    margin: 0;
    color: #135370;
    font-size: 2rem;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #1e608b;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #1e608b;
}

.top-container {
    font-size: 2rem;
    font-weight: 600;
    height: 100vh;
    /* background-color: #faeee7; */
    background-image: url('http://365psd.ru/images/backgrounds/bg-light-4857.png');
}

.pro {
    text-decoration: underline;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.flex-row {
    margin: 50px auto 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 80%;
}


.flex-row-text {
    /* text-align: center; */
    width: 50%;
    font-size: 2rem;
}

.flex-row-text h3 {
    text-align: center;
}

.margin {
    margin: 0px auto 0px auto;

}

.flex-main-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}


.stars {
    height: 35vh;
}

.hacker {
    height: 40vh;
}

.pc {
    height: 200px;
}



.bottom-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.bottom-container-second,
.bottom-container-first {
    height: 15vh;
    margin: 0;
    font-size: 1.3rem;
}

.pic {
    height: 300px;
}

.links {
    display: flex;
    flex-direction: row;
    line-height: 35px;
}

.icon {
    width: 50px;
    margin-top: 20px;
    margin-left: 10px;
}

.icon1 {
    width: 50px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 10px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .stars {
        display: none;
    }

    .bottom-container-second,
    .bottom-container-first {
        height: 10vh;
        margin: 0;
        font-size: 1.3rem;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .stars {
        display: none;
    }

    .bottom-container-second,
    .bottom-container-first {
        height: 10vh;
        margin: 0;
        font-size: 1.2rem;
    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .stars {
        display: none;
    }

    .bottom-container-second,
    .bottom-container-first {
        height: 10vh;
        margin: 0;
        font-size: 1rem;
    }

    .flex-row {
        margin: 10px auto 10px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 50%;
    }

    .pic {
        position: relative;
        left: 50px;
    }

    .flex-row-text {
        /* text-align: center; */
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    .stars {
        display: none;
    }

    .bottom-container-second,
    .bottom-container-first {
        height: 10vh;
        margin: 0;
        font-size: 1rem;
    }

    .bottom-container-second {
        display: none;
    }

    .bottom-container-first {
        height: 10vh;
        margin: 0;
        font-size: 1rem;
        text-align: center;
    }

    .flex-row {
        margin: 1px auto 1px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 70%;
    }

    .pic {
        position: relative;
        left: 80px;
        height: 150px;
    }

    .flex-row-text {
        /* text-align: center; */
        width: 100%;
        font-size: 1.2rem;
        text-align: center;
    }

}